
<!--Content -->
<app-profile-employee-details></app-profile-employee-details>
<app-history-card></app-history-card>
<app-pending-requests-card></app-pending-requests-card>
<!--<section>-->
<!--    <div class="container pt-3 mt-3">-->
<!--        <div class="card bg-light m-3 rounded-edges">-->
<!--            <div class="card-body">-->
<!--                <div class="border-bottom">-->
<!--                    <fa-icon [icon]="faCheck" class="ms-3 mt-1 fa-xl float-start" style="color:#198754;"></fa-icon>-->
<!--                    <h5 class="pt-1 ms-5">Pending Requests</h5>-->
<!--                </div>-->
<!--                <div class="row">-->

<!--                        <div class="card col-lg-3  col-md-6 col-sm-12 m-3" style="width: 18rem;">-->
<!--                            <div class="card-body">-->
<!--                                <img class="rounded-circle d-block mx-auto" height="70" src="../../../assets/images/user2.png" width="70">-->
<!--                                <h5 class="card-title text-center">Anna Michael</h5>-->
<!--                                <div class="card-text">-->
<!--                                    <p><span class="text-muted">Submitted on:</span><br>1/9/2024</p>-->
<!--                                    <p><span class="text-muted">Duration:</span><br>2 Weeks (1/10/2024 - 14/10/2024)</p>-->
<!--                                    <p class="mt-4">Currently at:<br><span class="fw-bolder text-success">Omar Ahmad</span></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        <div class="card col-lg-3  col-md-6 col-sm-12 m-3" style="width: 18rem;">-->
<!--                            <div class="card-body">-->
<!--                                <img class="rounded-circle d-block mx-auto" height="70" src="../../../assets/images/user2.png" width="70">-->
<!--                                <h5 class="card-title text-center">Anna Michael</h5>-->
<!--                                <div class="card-text">-->
<!--                                    <p><span class="text-muted">Submitted on:</span><br>1/9/2024</p>-->
<!--                                    <p><span class="text-muted">Duration:</span><br>2 Weeks (1/10/2024 - 14/10/2024)</p>-->
<!--                                    <p class="mt-4">Currently at:<br><span class="fw-bolder text-success">Omar Ahmad</span></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="text-end fw-bold">-->
<!--                    <a class="link-success text-decoration-none " routerLink="/vacation-requests" >View More></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

