.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}

.page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
  color: white;
}

.page-link{
  color: #198754;
}
