<section>
    <div class="container pt-4 mt-5">
        <div class="card bg-light m-3 rounded-edges">
            <div class="card-body">
                <div>
                    <img class="rounded-circle float-start" height="60" src="../../../assets/images/user.png" width="60">
                    <button class="btn btn-sm btn-success float-end">New Request</button>
                    <h6 class="card-title ms-4 mb-0 ps-5 fw-bold">John Doe</h6>
                    <p class="card-text ms-4 ps-5 pt-0">Marketing Department<br><span class=" text-muted">Junior Accounting Officer.</span>
                    </p>
                </div>
                <div class="row mt-4 justify-content-between">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <fa-icon [icon]="faUser" class="ms-2 mt-2  float-start fa-2xl"></fa-icon>
                        <h6 class="card-title ms-3 mb-0  ps-5">Reporting To:</h6>
                        <p class="card-text ms-3 ps-5 pt-0 text-muted">Jane Doe</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <fa-icon [icon]="faChart" class="ms-2 mt-2  float-start fa-2xl"></fa-icon>
                        <h6 class="card-title ms-3 mb-0  ps-5">Corporate Level:</h6>
                        <p class="card-text ms-3 ps-5 pt-0 text-muted">level 15</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <fa-icon [icon]="faHourGlass" class="ms-2 mt-2  float-start fa-2xl"></fa-icon>
                        <h6 class="card-title ms-3 mb-0  ps-5">Lifetime:</h6>
                        <p class="card-text ms-3 ps-5 pt-0 text-muted">2.5 Years</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <fa-icon [icon]="faVacation" class="ms-2 mt-2  float-start fa-2xl"></fa-icon>
                        <h6 class="card-title ms-3 mb-0  ps-5">Vacation Days Left:</h6>
                        <p class="card-text ms-3 ps-5 pt-0 text-muted">10 Days</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <fa-icon [icon]="faSick" class="ms-2 mt-2  float-start fa-2xl"></fa-icon>
                        <h6 class="card-title ms-3 mb-0  ps-5">Sick Days Left:</h6>
                        <p class="card-text ms-3 ps-5 pt-0 text-muted">14 Days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

