
    <div class="card bg-light m-3 rounded-edges">
        <div class="card-body">
            <div>
                <img class="rounded-circle float-start" height="50" src="../../../assets/images/user.png" width="50">
                <button class="btn btn-sm btn-outline-success float-end" routerLink="/profile" routerLinkActive="active-link">
                    View Profile
                </button>
                <h6 class="card-title ms-3 mb-0 ps-5">John Doe</h6>
                <p class="card-text ms-3 ps-5 pt-0 text-muted">Junior Accounting Officer.</p>
            </div>
            <div class="row mt-5 justify-content-start">
                <div class="col-4">
                    <fa-icon [icon]="faUser" class="float-start fa-2xl mt-1"></fa-icon>
                    <h6 class="card-title ms-3 mb-0  ps-5">Reporting To:</h6>
                    <p class="card-text ms-3 ps-5 pt-0 text-muted">Jane Doe</p>
                </div>
                <div class="col-5">
                    <fa-icon [icon]="faChart" class="float-start fa-2xl mt-1"></fa-icon>
                    <h6 class="card-title ms-3 mb-0  ps-5">Corporate Level:</h6>
                    <p class="card-text ms-3 ps-5 pt-0 text-muted">level 15</p>
                </div>
            </div>
        </div>
    </div>

